<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="khcy3lhe.seizuredetection">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoPage"
            android:label="@string/title_activity_info_page"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="khcy3lhe.seizuredetection.HomeActivity" />
        </activity>
        <activity
            android:name=".AddSeizure"
            android:label="@string/title_activity_add_seizure"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="khcy3lhe.seizuredetection.HomeActivity" />
        </activity>
        <activity
            android:name=".ManagePage"
            android:label="@string/title_activity_manage_page"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="khcy3lhe.seizuredetection.HomeActivity" />
        </activity>
        <activity
            android:name=".AddMedication"
            android:label="@string/title_activity_add_medication"
            android:parentActivityName=".ManageMedicatonAlert"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="khcy3lhe.seizuredetection.ManageMedicatonAlert" />
        </activity>
        <activity
            android:name=".ManageMedicatonAlert"
            android:label="@string/title_activity_manage_medicaton_alert"
            android:parentActivityName=".ManagePage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="khcy3lhe.seizuredetection.ManagePage" />
        </activity>
        <activity
            android:name=".ManageAppointment"
            android:label="@string/title_activity_manage_appointment"
            android:parentActivityName=".ManagePage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="khcy3lhe.seizuredetection.ManagePage" />
        </activity>
        <activity
            android:name=".AddAppointment"
            android:label="@string/title_activity_add_appointment"
            android:parentActivityName=".ManageAppointment"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="khcy3lhe.seizuredetection.ManageAppointment" />
        </activity>
        <activity
            android:name=".ManageHistory"
            android:label="@string/title_activity_manage_history"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="khcy3lhe.seizuredetection.HomeActivity" />
        </activity>
    </application>

</manifest>